@media (max-width: 576px) {
    .header-section, .food-flex, .foods, .food-grid, .box-intro {
        width: 100% !important;
    }
    .food-flex {
        flex-direction: column;
    }

    .box-food, .food-grid {
        width: 100%;
        margin: 20px auto 0 auto;
    }

    .box-food-section {
        width: 100%;
        margin: 0 auto;
    }

    .actives {
        margin: 0;
        margin-top: 24px;
    }

    .food-grids {
        width: 100%;
    }

    .food-grids:nth-child(2) {
        
    }

    .food-grid, .food-grids {
        grid-template-columns: auto;
    }
}

